[Unit]
Description=Temperature MQTT Fan Control
After=network.target

[Service]
Type=simple
ExecStart=/root/mqtt/dist/mqtt_temp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target